.comments {
  .notes-item {
    .when {
      font-size: 13px;
    }
    .content {
      padding-left: 36px;
      font-size: 13px;
      font-weight: $font-weight-medium;
      color: $secondary;
    }
  }
}