.page-task {
  .assignees-group {
    display: flex;
    align-items: center;
    .label {
      width: 100px;
      margin-bottom: 0;
    }
    .control {
      width: 200px;
    }
    margin-bottom: 10px;
    .react-select-user__menu {
      right: 0;
    }
  }
}